{% extends "base-admin.html.twig" %}

{% block body %}
<main class=container>
	<h1 class="mb-5">Titre de la page</h1>

        <a href="" class="btn btn-primary">Ajouter <span class="bi bi-plus-circle-fill"></span></a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Start_year
                    </th>
                   <th>
                        End_year
                    </th>
                    <th>
                        Picture_url
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for plane in planes %}
                <tr>
                    <td>
                        {{ plane.id }} 
                    </td>
                    <td>
                        {{ plane.name }}
                    </td>
                   <td>
                        {{ plane.startYear }}
                    </td>
                    <td>
                        {{ plane.endYear }}
                    </td>
                    <td>
                        {{ plane.pictureUrl }}
                    </td>
                    <td>
                        <a href="" class="btn btn-primary"><span class="bi bi-eye-fill"></span></a>
                        <a href="" class="btn btn-success"><span class="bi bi-pencil-fill"></span></a>
                        <a href="" class="btn btn-danger"><span class="bi bi-trash3-fill"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
               <th>
                    Start_year
                </th>
                <th>
                    End_year
                </th>
                <th>
                    Picture_url
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </tfoot>
        </table>
        
         <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Supprimer</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Êtes-vous sûr-e de vouloir supprimer ?
                                    </p>
                                </div>
            <div class="modal-footer">
                                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url=""><span class="bi bi-trash3-fill">Annuler</button></button></span></a>
                                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="admin-supprimer-avion"><span class="bi bi-trash3-fill">Supprimer</button></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
</main>
{% endblock %}

